$primary-color: #465138;
$secondary-color: #424242;
$tertiary-color: #3a3a3a;

$brand-color-dark: #333333;
$brand-color-dark-1: #2d2d2d;
$brand-color-dark-2: #9f9f9f;
$grey-color-light: #f6f6f6;
$grey-color-light-1: #e1e1e1;
$grey-color-light-2: #f5f5f5;
$grey-color-light-3: #616161;

$color-black: #000;
$color-white: #fff;
