.explore-section {
  padding: 8.5rem 5.4rem;
}

.product-section {
  padding: 8.5rem 5.4rem;
  background-color: $grey-color-light-2;
}

.about-section {
  padding: 8.5rem 5.4rem;
  background-color: $color-white;
}

.photos-section {
  padding: 8.5rem 5.4rem;
  background-color: $grey-color-light-2;
}

.cta-section {
  padding: 8.5rem 5.4rem;
  background-color: $color-white;
}
